<template>
  <div>
    <button :disabled="state==='started'" @click="onClickedButton('started')"><i class="glyphicon glyphicon-play"></i></button>
    <button :disabled="state!=='started'" @click="onClickedButton('paused')"><i class="glyphicon glyphicon-pause"></i></button>
    <button :disabled="state!=='started' && state !== 'paused'" @click="onClickedButton('stopped')"><i class="glyphicon glyphicon-stop"></i></button>
  </div>
</template>

<script>
  export default {
    props: ['state'],
    name: 'controls-component',
    methods: {
        onClickedButton: function(event) {
            this.$emit('clicked', event);
        }
    }
  }
</script>

<style scoped>
    button:disabled i {
      color: gray;
    }
</style>