<template>
  <div class="well">
    <div class="pomodoro-timer"><span>{{ min }}</span>:<span>{{sec}}</span></div>
  </div>
</template>
<script>
  export default {
    props: ['min','sec'],
    name: 'countdown-timer'
  }
</script>
