<template>
  <transition name="fade">
    <div class="well" v-if="state === 'rest'"><img :src="catImgSrc"></div>
  </transition>
</template>

<script>
  export default {
    props: ['state'],
    name: 'kittens-component',
    data () {
        return {
            catImgSrc: 'http://thecatapi.com/api/images/get?format=src&type=gif',
        }
    }
  }
  </script>

<style scoped>
  .fade-enter-active, .fade-leave-active { 
    transition: opacity .5s 
  } 
  .fade-enter, .fade-leave-active { 
    opacity: 0 
  } 
</style>