<template>
  <div id="app" class="container">
    <h2>
      <span>Pomodoro</span>
      <controls-component :state="state" @clicked="onClickedButton"></controls-component>
    </h2>
    <state-title-component :title="title"></state-title-component>
    <countdown-component :min="min" :sec="sec"></countdown-component>
    <kittens-component :state="pomodoroState"></kittens-component>
  </div>
</template>

<script>
  import ControlsComponent from './components/ControlsComponent.vue';
  import StateTitleComponent from './components/StateTitleComponent.vue';
  import CountdownComponent from './components/CountdownComponent.vue';
  import KittensComponent from './components/KittensComponent.vue';

  const POMODORO_STATES = {
    WORK: 'work',
    REST: 'rest'
  };
  const STATES = {
    STARTED: 'started',
    STOPPED: 'stopped',
    PAUSED: 'paused'
  };
  const WORKING_TIME_LENGTH_IN_MINUTES = 1;
  const RESTING_TIME_LENGTH_IN_MINUTES = 5;

  export default {
    name: 'app',
    data () {
      return {
        state: STATES.STOPPED,
        minute: WORKING_TIME_LENGTH_IN_MINUTES,
        second: 0,
        pomodoroState: POMODORO_STATES.WORK,
        timestamp: 0
      };
    },
    computed: {
      title: function() {
        return this.pomodoroState === POMODORO_STATES.WORK ? 'Work!' : 'Rest!';
      },
      min: function() {
        if (this.minute < 10) {
          return '0' + this.minute;
        }

        return this.minute;
      },
      sec: function() {
        if (this.second < 10) {
          return '0' + this.second;
        }

        return this.second
      },
    },
    methods: {
      start: function () {
        this.state = STATES.STARTED;
        this._tick();
        this.interval = setInterval(this._tick, 1000);
      },
      pause: function () {
        this.state = STATES.PAUSED;
        clearInterval(this.interval);
      },
      stop: function () {
        this.state = STATES.STOPPED;
        clearInterval(this.interval);
        this.pomodoroState = POMODORO_STATES.WORK;
        this.minute = WORKING_TIME_LENGTH_IN_MINUTES;
        this.second = 0;
      },
      onClickedButton: function(event) {        
        switch (event) {
          case STATES.STARTED:
            this.start();
            break;
          case STATES.PAUSED:
            this.pause();
            break;
          case STATES.STOPPED:
            this.stop();
            break;
        }
      },
      _tick: function () {
        //if second is not 0, just decrement second
        if (this.second !== 0) {
          this.second--;
          return;
        }
        //if second is 0 and minute is not 0, decrement minute and set second to 59
        if (this.minute !== 0) {
          this.minute--;
          this.second = 59;
          return;
        }
        //if second is 0 and minute is 0, toggle working/resting intervals
        this.pomodoroState = this.pomodoroState === POMODORO_STATES.WORK ? POMODORO_STATES.REST : POMODORO_STATES.WORK;
        if (this.pomodoroState === POMODORO_STATES.WORK) {
          this.minute = WORKING_TIME_LENGTH_IN_MINUTES;
        } else {
          this.minute = RESTING_TIME_LENGTH_IN_MINUTES;
        }
      }
    },
    components: {
      ControlsComponent,
      StateTitleComponent,
      CountdownComponent,
      KittensComponent
    }
  }
</script>
